:root {
  --black: #121826;
  --black-lighten: #4d5562;
  --gray: #4d556233;
  --gray-lighten: #e5e7eb;
  --white-darken: #f8fafc;
  --white: #fff;
  --blue: #263fa9;
  --brown: #7c4f1e;

  /* color-map */
  --bg-color-header: var(--white-darken);
  --bg-color-table-row-header: var(--white-darken);
  --bg-color-table-plan-name: var(--blue);
  --bg-color-table-selected: var(--black);
  --bg-color-table-footer-selected: var(--brown);
  --text-color-header: var(--black);
  --text-color-header-description: var(--gray);
  --text-color-table-row-header: var(--black-lighten);
  --text-color-table: var(--black-lighten);
  --text-color-plan-name: var(--blue);
  --text-color-plan-price: var(--black);
  --text-color-plan-period: var(--gray);
  --text-color-table-selected: var(--white);
  --text-color-footer: var(--blue);

  /* font */
  --font-base:
    'Be Vietnam Pro', system-ui, 'Avenir', 'Helvetica', 'Arial', sans-serif;
}

html,
body {
  font-family: var(--font-base);
  font-synthesis: none;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  line-height: 1.5;
}

a {
  font-weight: 500;
  color: inherit;
  text-decoration: inherit;
}

/* common
-------------------- */

.container {
  max-width: 640px;
  padding: 0 3.75%;
  margin: 0 auto;
}

@media (width >= 768px) {
  .container {
    max-width: 768px;
  }
}

@media (width >= 1024px) {
  .container {
    max-width: 1024px;
    padding: 0 3.5%;
  }
}

@media (width >= 1280px) {
  .container {
    max-width: 1280px;
  }
}
